body {
  font-size: 16px;
  color: black;
  background-color:whitesmoke;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: black;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/poke.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: whitesmoke;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.5;

}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

#collapsable-nav{
  margin-top:none;
}
#nav-list{
  margin-top: 0px;
  margin-bottom: 0px;
}
#collapsable-nav ul li a{ /* Star-K */
  text-align: center;
  border: 2px solid whitesmoke;
  background-color: orangered;
  color:whitesmoke;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid orangered;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  #main-content {
    background-color: orange;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
  /* Home Page */
  #main-content {
    background-color: orange;
  }
  /* End Home Page */
}

/* END HEADER */
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  #main-content {
    background-color: orange;
  }
  
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  #main-content {
    margin: 5%;
    background-color: orange;
  }
  /* End Header */


  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #main-content {
    width: 280px;
    margin: 0 auto 15px;
  }
}